/* Switching box model for all elements */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* Responsive Navigation styles begin here */

@media (max-width: 767px) {

	nav + * {
		position: relative;
	}
	/* Theming opened nav */
	nav {
		text-align: justify;
    margin-top: 10px;
	}

	nav a {
		display: block;
    height: 40px;
		padding: 1.2 rem;
		border-bottom: 1px solid #eee;
		color: #a90064;
		background: #fff;
		text-decoration: none;
	}

	nav a:hover, nav a:focus, nav a:active {
		color: #fff;
		background: #a90064;
	}
	/* Theming closed nav */

	nav.is-closed ul {
		max-height: 0;
		overflow: hidden;
	}
	/* Global styling nav button */

	nav > button {
		position: absolute;
		top: 10px;
		right: 20px;
		z-index: 1;
		height: 2.5 rem;
		width: 2.5 rem;
		background-color: transparent;
		padding: 0;
		outline: 0;
		border: 2px solid #fff;
		border-radius: 50%;
		cursor: pointer;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		-webkit-transition: -webkit-transform .2s;
		transition: transform .2s;
	}
	/*  Removing Firefox's dotted outline on button */

	nav > button::-moz-focus-inner {
		border: 0;
	}
	nav > button::after, nav > button::before {
		content: "";
		position: absolute;
		top: 15%;
		right: 40%;
		bottom: 15%;
		left: 40%;
		background-color: #fff;
		border-radius: 10px;
		-webkit-transition: -webkit-transform .2s;
		transition: transform .2s;
	}
	nav > button::before {
		top: 40%;
		right: 15%;
		bottom: 40%;
		left: 15%;
	}
	/* Theming opened nav button */

	nav:not(.is-closed) > button, nav:not(.is-closed) > button::before {
		-webkit-transform: rotate(90deg) translateZ(0);
		-ms-transform: rotate(90deg) translateZ(0);
		transform: rotate(90deg) translateZ(0);
	}
	/* Hide alternate text except from screen readers */

	.visually-hidden {
		position: absolute !important;
		clip: rect(1px, 1px, 1px, 1px);
		overflow: hidden;
		height: 1px;
		width: 1px;
	}
}
.fond {
	background: #a90064;
	/* Old browsers */
	background: -moz-linear-gradient(left,  #a90064 0%, #e31681 50%, #a90064 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #a90064 0%,#e31681 50%,#a90064 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #a90064 0%,#e31681 50%,#a90064 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90064', endColorstr='#a90064',GradientType=1 );
	/* IE6-9 */
}
header {
	width: 100%;
	height: 60px;
}

#logo {
	max-width: 150px;
	padding-left: 30px;
	padding-top: 10px;
}
#boutton img {
	margin: auto;
	padding-bottom:10px;
	z-index: 100;
}
#volet img {
	width: 30px;
	margin-left: 30px;
}

#volet {
	position: absolute;
	bottom: -50px;
	width: 100%;
	height: 30px;
	background-color: #eee;
	z-index: 2;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
	text-align: center;
	background-color: #eee;

}
